services:
  redpanda:
    image: redpandadata/redpanda
    command: >
      redpanda start --overprovisioned --smp 1 --memory 1G
      --reserve-memory 0M --node-id 0
      --kafka-addr PLAINTEXT://0.0.0.0:9092
      --advertise-kafka-addr PLAINTEXT://redpanda:9092
    ports:
      - "9092:9092"

  callback:
    build: ./mock-callback-server
    ports:
      - "8080:8080"

  localcontroller:
    build: .
    depends_on:
      - redpanda
      - callback
    ports:
      - "50051:50051"
